<div class="container mt-4">
  <h3>Lista de Pedidos</h3>

  <div *ngIf="pedidos.length === 0" class="alert alert-info">
    No hay pedidos registrados.
  </div>

  <div *ngFor="let pedido of pedidos" class="card mb-3 shadow-sm">
    <div class="card-body">
      <h5>Usuario: {{ pedido.data.usuarioId }}</h5>
      <p>Fecha: {{ pedido.data.timestamp | date:'short' }}</p>
      <p>Total: ${{ pedido.data.totalPedido }}</p>
      <ul>
        <li *ngFor="let item of pedido.data.items">
          {{ item.menu.nombre }} - Cantidad: {{ item.quantity }} - Total: ${{ item.total }}
        </li>
      </ul>

      <button class="btn btn-warning btn-sm me-2" (click)="editarPedido(pedido)">Editar</button>
      <button class="btn btn-danger btn-sm" (click)="eliminarPedido(pedido.id)">Eliminar</button>
    </div>
  </div>
</div>
