<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">

  <div class="container">
  <a class="navbar-brand fw-bold text-warning d-flex align-items-center" routerLink="/">
  <i class="fas fa-coffee me-2"></i>
  <span>BeanFlow</span>
</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="rol === 'cliente' || !rol">
          <a class="nav-link" routerLink="/menu" routerLinkActive="active">Menú</a>
        </li>
        <li class="nav-item" *ngIf="rol === 'cliente' || !rol">
          <a class="nav-link" routerLink="/carrito" routerLinkActive="active">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pedidos" routerLinkActive="active">Pedido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sobre-nosotros" routerLinkActive="active">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
        </li>
        <li class="nav-item" *ngIf="!logueado">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="logueado">
          <a class="nav-link text-warning fw-bold" style="cursor: pointer;" (click)="logout()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Aquí se cargan los componentes según la ruta -->
<router-outlet></router-outlet>
