/* --- ESTILOS GLOBALES --- */

body {
    background-color: #FAFAFA; /* Fondo de página blanco roto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------------------------------------- */
/* ESTILOS DE LA BARRA DE NAVEGACIÓN (Navbar) */
/* ------------------------------------------- */

/* Fondo de la Barra: Gris Pizarra Oscuro */
.custom-navbar-bg {
    background-color: #2C3E50 !important; 
}

/* Marca de la Librería */
.navbar-brand {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #FFFFFF !important;
}

/* Enlaces */
.custom-navbar-bg .nav-link {
    color: #ECF0F1 !important; /* Texto gris claro */
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

/* Efecto Hover */
.custom-navbar-bg .nav-link:hover {
    color: #E67E22 !important; /* Naranja Cobrizo */
    border-bottom: 2px solid #E67E22;
}

/* Enlace Activo (página actual) */
.active-nav-link { 
    color: #E67E22 !important; /* Naranja Cobrizo */
    border-bottom: 2px solid #E67E22 !important;
    background-color: rgba(255, 255, 255, 0.1); /* Sutil fondo */
    border-radius: 3px;
}

/* Títulos principales de sección */
.section-title {
    font-size: 2.2rem;
    color: #2C3E50;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
}