.custom-navbar {
  background-color: #6a4e0b; /* café oscuro */
}
.navbar-brand span {
  color: #FFD700; /* dorado brillante */
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand i {
  color: #FFD700; /* dorado también para el icono */
}



