:root {
  --cafe-oscuro: #4A2C0B;
  --amarillo-dorado: #F6AD55;
  --crema-suave: #F5F5DC;
  --gris-ahumado: #6B7280;
  --blanco-puro: #FFFFFF;
}
.nav-link:hover { color: #F6AD55 !important; }
.hero-bg { background-color: var(--cafe-oscuro); color: var(--blanco-puro); }
.btn-primary { background-color: var(--amarillo-dorado); color: var(--cafe-oscuro); }
.navbar {
  z-index: 1050 !important;  /* Alto para que esté encima de todo */
}